@import "helpers";

body {
	font-family: Helvetica, sans-serif;
}

@import "header";

$total-width: 80ch;

article {
	width: $total-width;
	margin: 0 auto;
	line-height: $base-height;
}

section { margin-top: vertical(2); }

p {
	font-size: 16px;
	margin: vertical(1) 0px;
}

buzzword {  }

$cover-image-width: $total-width*0.6;

.portfolio {
	.name { 
		margin-top: vertical(1);
		a { font-weight: bold; }
		
	}
	.cover {
		column-count: 2;
		column-gap: 30px;
		margin: vertical(1) 0px;
		width: $total-width*1.2;

		img { width: $cover-image-width; }
		.summary {  }
		span {
			font-weight: bold;
			&.in-developement { color: $orange; }
		}
	}
}