@import "helpers";

body {
	font-family: Helvetica, sans-serif;
}

@import "header";

$total-width: 80ch;

article {
	width: $total-width;
	margin: 0 auto;
	line-height: $base-height;
}

section { margin-top: vertical(2); }

p {
	font-size: 16px;
	margin: vertical(1) 0px;
}

// buzzword { color: $green; }

.competitor { margin-left: 1em; }

.projects { margin-bottom: -1 * vertical(1); }

$stack-height: vertical(7);

.portfolio {
	.name { 
		margin-top: vertical(2);
		a { font-weight: bold; }
		
	}
	.cover {
		-webkit-column-count: 2;
		-webkit-column-gap: 40px;
		margin: vertical(1) 0px;
		width: $total-width*1.25;
		height: vertical(11);

		img { height: 100%; }
		.summary {
			display: inline-block;
			img {
				margin-top: vertical(1);
				height: vertical(6);
			}
			span {
				display: block;
				// font-weight: bold;
				&.in-developement { color: $orange; }
				&.in-production { color: $green; }
			}
		}
	}
}

.figure {
	width: $total-width;
	text-align: center;
	height: vertical(17);
	span { 
		color: gray;
	}
	img { height: 100%; }
}