@import "helpers";

body {
	font-family: Helvetica, sans-serif;
	line-height: $base-height;
	margin: 0;
}

@import "header";
@import "mobile";

$total-width: 75ch;

article {
	width: $total-width;
	margin: 0 auto;
}

anchor {
	@include grayed-out;
	position: absolute;
	// margin-left: -100px;
	left: 2em;
}

section { margin-top: vertical(2); }

p {
	font-size: 16px;
	margin: vertical(1) 0px;
}

// buzzword { color: $green; }

.competitor { margin-left: 1em; }

.projects { margin-bottom: -1 * vertical(1); }

$stack-height: vertical(7);

.portfolio {
	.name { 
		margin-top: vertical(2);
		a { font-weight: bold; }
		
	}
	.cover {
		display: flex; flex-wrap: wrap;
		margin: vertical(1) 0px;
		width: $total-width*1.4;

		img { 
			height: vertical(11);
			margin-right: 10px;
		}
		.summary {
			display: flex; flex-direction: column;
			justify-content: space-between;
			margin-top: 5px;
			span {
				div {
					width: 14px;
					height: 14px;
					border-radius: 14px;
					margin-right: 0.5ex;
					display: inline-block;
					position: relative; top: 1px;
					&.in-developement { background: $orange; }
					&.in-production { background: $green; }
				}
			}
			img { height: vertical(6); }
		}
	}
}

.figure {
	width: $total-width;
	text-align: center;
	span { 
		color: gray;
	}
	img { height: vertical(17); }
}

.small.logo { 
	text-decoration: none;
	img {
		height: vertical(1);
		vertical-align: bottom;
	}
}

buzzword {  }