@import 'https://fonts.googleapis.com/css?family=Fira+Sans';
@import 'https://fonts.googleapis.com/css?family=Mosterrat';
@import 'https://fonts.googleapis.com/css?family=Roboto:400,500,600';

@font-face {
	font-family:'MessinaSans';
	src: url('MessinaSansWeb-Regular.woff') format('woff'); /* Pretty Modern Browsers */
	font-weight: 400;
	font-style: normal;
	font-stretch: normal;
	unicode-range: U+000D-FB04;
}

$navigation: 'Mosterrat', sans-serif;

@mixin font {
	font-family: MessinaSans;
  text-rendering: optimizeLegibility;
}
