header {
	margin: 0 auto;
	width: 100%;
	text-align: center;
	padding: vertical(3) 10px;
	margin-bottom: vertical(1);
	margin-top: 0px;

	line-height: vertical(2);
	font-size: 21px;
}

h1 { margin: 0px; }

footer {
	margin: 0 auto;
	width: 100%;
	padding: vertical(2) 10px;
	text-align: center;
}

img.me {
	position: absolute;
	left: 2em;
	height: vertical(7);
	width: vertical(6);
	border-radius: 16px;

	background: url(wide-photo.jpg);
	background-size: 300%;
	background-position: 50% 50%;

	box-shadow: inset 0 0 10px rgba(0,0,0,0.6);
}