$base-height: 27px;

@function vertical($times){
	@return $base-height * $times;
}

$orange: #ff8800;
$green: #00c776;

@import 'https://fonts.googleapis.com/css?family=Fira+Sans:700';
@import 'https://fonts.googleapis.com/css?family=Mosterrat';

$navigation: 'Mosterrat', sans-serif;

@media only screen and (max-width: 1048px) {
  img.me, anchor { display: none };
  nav {
    position: static !important;
    li {
      padding-left: 10px !important; padding-right: 10px !important; 
      letter-spacing: 2px;
    }
  }
  article { width: 90% !important; }
}