$base-height: 27px;

@function vertical($times){
	@return $base-height * $times;
}

$orange: #ff8800;
$green: #00c776;
$gray: rgb(180, 180, 180);

@import 'https://fonts.googleapis.com/css?family=Fira+Sans';
@import 'https://fonts.googleapis.com/css?family=Mosterrat';
@import 'https://fonts.googleapis.com/css?family=Roboto:400,500,600';

$navigation: 'Mosterrat', sans-serif;